@import '../../../variables';
mat-dialog-content {
  max-width: 500px;
}

mat-dialog-actions {
  display: flex;
  justify-content: end;
}
.fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $page-padding;
  mat-form-field {
    flex-grow: 1;
  }
}
