<div class="welcome">
  <div>
    <div class="title" [@bounceInLeft]>
      <strong>Welcome to angular table</strong>
    </div>
    <div [@bounceInLeft]>
      <div class="description">
        <span>A dynamic, Reusable and fully customizable table</span>
      </div>
      <div class="actions">
        <button mat-raised-button color="primary" [routerLink]="['/demo']">Demonstration</button>
        <button mat-button [routerLink]="['/demo']">View on Github</button>
      </div>
    </div>
  </div>
  <div class="offers">
    <div [@bounceInDown]>
      <strong>What does it include?</strong>
    </div>
    <ul [@stagger]>
      <li [@bounceInRight]>
        <a href="javascript:">Defining Table</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Columns</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Actions</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Pagination</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Selection</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Expandable Template</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Expandable Table</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Ordering</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Templates</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Operation</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Displaying Table</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Custom Columns Template</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Custom Expandable Template</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Custom Preview Template</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Manipulating Table</a>
      </li>
      <li [@bounceInRight]>
        <a href="">Styling</a>
      </li>
    </ul>
  </div>
</div>
