@import '../../../variables';
.welcome {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: $page-padding;
  overflow: auto;
  .title {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .description {
    padding-bottom: 20px;
  }
  .actions button:first-child {
    margin-right: 10px;
  }
  ul {
    padding-left: 20px;
    li {
      position: relative;
      padding: 5px;
      border-radius: 20px;
      cursor: pointer;
      a {
        text-decoration: none;
        margin-left: 10px;
        color: #3f51b5;
      }
    }
    li:hover {
      background-color: #3f51b5;
      a {
        color: white;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .welcome {
    flex-direction: column;
    align-items: center;
    justify-content: left;
  }
}
