<div class="welcome">
  <div>
    <div class="title" [@bounceInLeft]>
      <strong>Welcome to angular table</strong>
    </div>
    <div [@bounceInLeft]>
      <div class="description">
        <span>A dynamic, reusable and fully customizable table</span>
      </div>
      <div class="actions">
        <button mat-flat-button color="primary" [routerLink]="['/demo']">Live Preview</button>
        <a mat-button target="_blank" href="https://github.com/klodianshaba/angular-table">View on Github</a>
      </div>
    </div>
  </div>
  <div class="offers">
    <div [@bounceInDown]>
      <strong>What does it include?</strong>
    </div>
    <ul [@stagger]>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#defining-table"
          >Defining Table</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#columns">Columns</a>
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#actions">Actions</a>
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#pagination"
          >Pagination</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#selection"
          >Selection</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#expandable-template"
          >Expandable Template</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#expandable-table"
          >Expandable Table</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#ordering"
          >Drag & Drop Ordering</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#templates"
          >Templates</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#operation"
          >Operation</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#displaying-table"
          >Displaying Table</a
        >
      </li>
      <li [@bounceInRight]>
        <a
          target="_blank"
          href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#custom-columns-template"
          >Custom Columns Template</a
        >
      </li>
      <li [@bounceInRight]>
        <a
          target="_blank"
          href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#custom-expandable-template"
          >Custom Expandable Template</a
        >
      </li>
      <li [@bounceInRight]>
        <a
          target="_blank"
          href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#custom-preview-template"
          >Custom Preview Template</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#manipulating-table"
          >Manipulating Table</a
        >
      </li>
      <li [@bounceInRight]>
        <a target="_blank" href="https://github.com/klodianshaba/angular-table?tab=readme-ov-file#styling">Styling</a>
      </li>
    </ul>
  </div>
</div>
