@import '../variables';
header,
main {
  padding: $page-padding;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2 !important;
  background: white;
  box-shadow: $box-shadow;
  strong {
    font-size: $large-text;
  }
  > div {
    display: flex;
    align-items: center;
  }
  a,
  a img {
    width: 25px;
    height: 25px;
  }
  a img {
    &:hover {
      transform: scale(1.3);
      transition: 0.2s;
    }
  }
}

main {
  display: flex;
  gap: $page-padding;
  app-customize {
    max-width: 400px;
  }
  app-table {
    flex-grow: 1;
  }
  .books-custom-template {
    display: flex;
    flex-wrap: wrap;
    gap: $page-padding;
    .book-custom-template {
      min-width: 50px;
      min-height: 50px;
      border: 1px solid $border-color;
      padding: $padding;
      border-radius: $border-radius;
      background-color: white;
      transition: 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .book-custom-template:hover {
      box-shadow: $box-shadow;
      transform: translateY(-5px);
    }
  }
}
@media only screen and (max-width: 800px) {
  main {
    flex-wrap: wrap;
  }
}
