@import '../variables';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2 !important;
    background: white;
    padding: $page-padding;
    strong {
      font-size: $large-text;
      cursor: pointer;
    }
    > div {
      display: flex;
      align-items: center;
    }
    a,
    a img {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
    a img {
      &:hover {
        transform: scale(1.3);
        transition: 0.2s;
      }
    }
  }
  main,
  main app-customize {
    overflow: hidden;
  }
  main {
    height: 100%;
  }
}
