<div class="container">
  <header>
    <div>
      <img class="padding-right" ngSrc="favicon.ico" width="25" height="25" alt="Angular logo" />
      <strong>Angular Table</strong>
    </div>
    <div>
      &copy; Klodian Shaba
      <a class="padding-left" href="https://github.com/klodianshaba/angular-table" target="_blank">
        <img alt="GitHub Logo" ngSrc="./assets/images/GitHub-Mark-32px.png" height="25" width="25" />
      </a>
      <a class="padding-left" href="https://www.linkedin.com/in/klodian-shaba-536269153/" target="_blank">
        <img alt="GitHub Logo" ngSrc="./assets/images/In-Blue-Logo.png.original.png" height="25" width="25" />
      </a>
    </div>
  </header>

  <main>
    <app-customize [table]="table"></app-customize>

    <app-table [table]="table">
      <ng-template tableTemplate="authorsTableTemplate" let-column let-source="source" let-index="index">
        @switch (column.field) {
          @case ('author') {
            <a href="javascript:">{{ source[column.field] }}</a>
          }
          @case ('nationality') {
            <img class="padding-right" ngSrc="favicon.ico" width="25" height="25" alt="Angular logo" />
            <span> {{ source[column.field] }}</span>
          }
          @case ('awardWinner') {
            @if (source[column.field]) {
              <mat-icon>done</mat-icon>
            } @else {
              <mat-icon>clear</mat-icon>
            }
          }
        }
      </ng-template>
      <ng-template tableTemplate="booksTableTemplate" let-column let-row="row" let-index="index">
        @switch (column.field) {
          @case ('id') {
            <span> {{ row.id }}</span>
          }
          @case ('description') {
            {{ row.description }}
          }
        }
      </ng-template>
      <ng-template tableTemplate="booksCustomTemplate" let-row="row" let-index="index">
        <div class="books-custom-template">
          @if (row?.books?.length > 0) {
            @for (book of row.books; track book) {
              <div matRipple class="book-custom-template">
                <strong> {{ book.title }}</strong>
              </div>
            }
          } @else {
            {{ row.author }} doesn't have books yet!
          }
        </div>
      </ng-template>
      <ng-template tableTemplate="authorsPreviewTemplate" let-row let-index="index">
        {{ row.author }}
      </ng-template>
      <ng-template tableTemplate="booksPreviewTemplate" let-row let-index="index">
        {{ row.title }}
      </ng-template>
    </app-table>
  </main>
</div>
