<div class="container">
  <header>
    <div [@stagger]>
      <img
        [@bounceInDown]
        [routerLink]="'/'"
        class="padding-right"
        ngSrc="favicon.ico"
        width="25"
        height="25"
        alt="Angular logo" />
      <strong [@bounceInDown] [routerLink]="'/'">Angular Table</strong>
    </div>
    <div [@stagger]>
      <span [@bounceInDown]> &copy; Klodian Shaba</span>
      <a [@bounceInDown] class="padding-left" href="https://github.com/klodianshaba/angular-table" target="_blank">
        <img alt="GitHub Logo" ngSrc="./assets/images/GitHub-Mark-32px.png" height="25" width="25" />
      </a>
      <a
        [@bounceInDown]
        class="padding-left"
        href="https://www.linkedin.com/in/klodian-shaba-536269153/"
        target="_blank">
        <img alt="GitHub Logo" ngSrc="./assets/images/In-Blue-Logo.png.original.png" height="25" width="25" />
      </a>
    </div>
  </header>
  <main>
    <router-outlet />
  </main>
</div>
