<ng-template #tableTemplate let-table="table">
  <div class="table" [attr.id]="table.tableId">
    <table
      class="table-body"
      matSort
      [matSortDisabled]="!table.sorting.allow"
      (matSortChange)="table.sortData($event)"
      cdkDropList
      (cdkDropListDropped)="table.drop($event)"
      [cdkDropListDisabled]="!table.ordering.allow">
      <thead>
        <tr class="table-header-row">
          @for (column of table.columns; track column) {
            @if (column.display) {
              <th [mat-sort-header]="column.field" [disabled]="!column?.sortable">
                <div>
                  @if (column?.selection && table.selection.allow && table.selection.multiple) {
                    <mat-checkbox
                      color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="table.selectAllToggle()"
                      [checked]="table.selectionModel.hasValue() && table.areAllSelected()"
                      [indeterminate]="table.selectionModel.hasValue() && !table.areAllSelected()"
                      [aria-label]="table.checkboxLabel()">
                    </mat-checkbox>
                  }
                  <span>{{ column.label }}</span>
                </div>
              </th>
            }
          }
        </tr>
      </thead>
      <tbody>
        @for (row of table.getDataSource(); track row; let index = $index) {
          <tr
            #tableRow
            @tableAnimation
            class="table-row {{ table.selectionModel.isSelected(row) ? table.selection.cssClass : '' }}"
            [attr.id]="table.tableId"
            [ngClass]="{ 'table-row-selected': table.selectionModel.isSelected(row), '': true }"
            cdkDrag
            [cdkDragBoundary]="table.ordering.boundary ? '.table' : ''"
            [cdkDragPreviewClass]="table.ordering.dragPreviewCssClass"
            (cdkDragStarted)="table.onStartedDraggingRow()"
            (cdkDragEnded)="table.onEndedDraggingRow()">
            @for (column of table.columns; track column) {
              @if (column.display) {
                <td class="table-cell">
                  <div>
                    @if (column?.selection && table.selection.allow) {
                      <mat-checkbox
                        color="primary"
                        (change)="table.selectRow(row)"
                        (click)="$event.stopPropagation()"
                        [checked]="table.selectionModel.isSelected(row)"
                        [aria-label]="table.checkboxLabel(row, row[column.field])">
                      </mat-checkbox>
                    }
                    @if (column?.expandable && table.expandable.allow) {
                      <mat-icon class="table-expandable-row-icon" (click)="table.expandRow(row)">
                        <span *ngIf="table.expandableSelectionModel.isSelected(row)">expand_more</span>
                        <span *ngIf="!table.expandableSelectionModel.isSelected(row)">chevron_right</span>
                      </mat-icon>
                    }

                    @if (!column?.template) {
                      @if (column?.text) {
                        {{ column.text(row) | async }}
                      } @else if (column?.field) {
                        {{ row[column.field] }}
                      }
                    } @else {
                      <ng-container
                        [ngTemplateOutlet]="getTemplate(table.templates.columnsTemplate)"
                        [ngTemplateOutletContext]="{
                          $implicit: column,
                          row,
                          index
                        }">
                      </ng-container>
                    }
                  </div>
                </td>
              }
            }

            @if (table.ordering.allow) {
              <mat-icon class="drag-handler" cdkDragHandle> drag_indicator </mat-icon>
            }
            @if (table.actions.allow && table.actions.items.length > 0) {
              <mat-icon
                class="action-button"
                [ngClass]="{ 'table-display-block': matMenuTrigger.menuOpen }"
                [matMenuTriggerFor]="menu"
                #matMenuTrigger="matMenuTrigger">
                more_vert
              </mat-icon>
              <mat-menu #menu="matMenu">
                @for (action of table.actions.items; track action) {
                  @if (action.display(row, index)) {
                    <button
                      class="menu-action-button"
                      mat-menu-item
                      (mouseover)="action?.hover ? action.hover(row, index) : null"
                      (click)="action?.click ? action.click(row, table.parentElement, index) : null">
                      <mat-icon>{{ action.icon }}</mat-icon>
                      <span>{{ action.label }}</span>
                    </button>
                  }
                }
              </mat-menu>
            }
            <div *cdkDragPreview>
              @if (!table.ordering.template) {
                Moving
              } @else {
                <ng-container
                  [ngTemplateOutlet]="getTemplate(table.templates.dragPreviewTemplate)"
                  [ngTemplateOutletContext]="{
                    $implicit: row,
                    index
                  }">
                </ng-container>
              }
            </div>
            <div
              class="ripple-overlay"
              matRipple
              [matRippleTrigger]="tableRow"
              [matRippleDisabled]="!table.ripple.allow"></div>
          </tr>
          @if (table.expandable.allow && table.isExpandableTemplate()) {
            <tr class="table-expandable-row">
              <td [attr.colspan]="table.getDisplayedColumns().length">
                @if (table.expandableRenderingSelectionModel.isSelected(row)) {
                  <div
                    class="table-expandable-row-content"
                    [@tableExpandAnimation]="table.expandableSelectionModel.isSelected(row) ? 'expanded' : 'collapsed'">
                    <div class="table-expandable-row-content-expanded">
                      <ng-container
                        [ngTemplateOutlet]="getTemplate(table.templates.expandableTemplate)"
                        [ngTemplateOutletContext]="{
                          $implicit: row,
                          index
                        }">
                      </ng-container>
                    </div>
                  </div>
                }
              </td>
            </tr>
          }
          @if (table.table && table.expandable.allow && table.isExpandableTable()) {
            <tr class="table-expandable-row">
              <td [attr.colspan]="table.getDisplayedColumns().length">
                @if (table.expandableRenderingSelectionModel.isSelected(row)) {
                  <div
                    class="table-expandable-row-content"
                    [@tableExpandAnimation]="table.expandableSelectionModel.isSelected(row) ? 'expanded' : 'collapsed'">
                    <div class="table-expandable-row-content-expanded">
                      <ng-container
                        [ngTemplateOutlet]="tableTemplate"
                        [ngTemplateOutletContext]="{
                          table: table.getNestedTable(row)
                        }">
                      </ng-container>
                    </div>
                  </div>
                }
              </td>
            </tr>
          }
        } @empty {
          <div class="table-row">Nothing here</div>
        }
      </tbody>
    </table>

    @if (table.pagination.allow) {
      <mat-paginator
        #matPaginator
        [pageSize]="table.pagination.size"
        [pageIndex]="table.pagination.currentPage"
        [pageSizeOptions]="table.pagination.options"
        [length]="table.pagination.totalCount"
        aria-label="Select page of users"
        (page)="table.pageData($event)"
        [showFirstLastButtons]="table.pagination.showFirstLastButtons"
        [hidePageSize]="table.pagination.hidePageSize">
      </mat-paginator>
    }
  </div>
</ng-template>

<ng-container [ngTemplateOutlet]="tableTemplate" [ngTemplateOutletContext]="{ table }"> </ng-container>
