:host,
.cdk-drag-preview,
button.menu-action-button {
  --table-bg-color: #ffffff;
  --table-row-bg-color: #ffffff;
  --table-expand-row-bg-color: #ffffff;
  --table-header-row-bg-color: #ffffff;
  --table-footer-row-bg-color: #ffffff;
  --table-hover-row-bg-color: #ebebfc;
  --table-selected-row-bg-color: #f6f6fd;
  --table-box-shadow: 0 0 3px 1px rgba(25, 23, 28, 0.05);
  --table-border-color: #eeeaea;
  --table-text-color: black;
  --table-padding: 12px;
  --table-expand-row-padding: 20px;
  --table-font-size: 14px;
  --table-font-family: Roboto, 'Helvetica Neue', sans-serif;
  --table-min-width: 300px;
  --table-row-min-height: 40px;
}

table {
  width: 100%;
  border-spacing: 0;
  th,
  td {
    padding: 0;
  }
}
.table {
  background-color: var(--table-bg-color);
  box-shadow: var(--table-box-shadow);
  color: var(--table-text-color);
  font-family: var(--table-font-family);
  font-size: var(--table-font-size);
  min-width: var(--table-min-width);
  overflow: hidden;
  .mat-sort-header-arrow {
    color: var(--table-text-color) !important;
  }
  .mat-checkbox-frame {
    border-color: var(--table-text-color) !important;
  }
  .table-row,
  .table-header-row,
  .table-footer-row {
    color: var(--table-text-color);
  }
  .table-row {
    cursor: pointer;
    position: relative;
    background-color: var(--table-row-bg-color);
    td {
      border-top: 1px solid var(--table-border-color);
      padding: 0 var(--table-padding);
      > div {
        min-height: var(--table-row-min-height);
        display: flex;
        align-items: center;
        text-wrap: nowrap;
      }
    }
    .drag-handler {
      left: 0;
      cursor: grab;
    }
    .actions {
      flex-grow: 1;
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }
  .table-row {
    .table-display-block {
      display: block;
    }
  }
  .table-header-row {
    font-weight: bold;
    background-color: var(--table-header-row-bg-color);
    th {
      border-bottom: 1px solid var(--table-border-color);
      padding: 0 var(--table-padding);
      div {
        min-height: var(--table-row-min-height);
        display: flex;
        align-items: center;
      }
    }
  }
  .table-footer-row,
  .mat-paginator-outer-container,
  mat-paginator {
    background-color: var(--table-footer-row-bg-color);
  }
  .table-expandable-row {
    background-color: var(--table-expand-row-bg-color);
  }
  //selected
  .table-row.table-row-selected {
    background-color: var(--table-selected-row-bg-color);
  }
  //hover
  .table-row:hover,
  .table-expandable-row:hover {
    background-color: var(--table-hover-row-bg-color);
  }
  // extendable
  .table-expandable-row-content {
    overflow: hidden;
  }
  .table-expandable-row-content-expanded {
    padding: var(--table-expand-row-padding);
  }
  .table-expandable-row-icon {
    margin-right: 8px;
  }
  [mat-sort-header].cdk-program-focused .mat-sort-header-container {
    border-bottom: 0;
  }
  .ripple-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }
}
button.menu-action-button {
  min-height: 30px;
  .mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: var(--table-padding);
  }
}
.mat-mdc-menu-content {
  margin: 0;
  padding: 0 !important;
}
//drag & drop style
.table-drag-preview {
  background-color: var(--table-hover-row-bg-color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--table-box-shadow);
}
.cdk-drag-preview.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
table.cdk-drop-list-dragging {
  pointer-events: none !important;
  .table-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
.table-row.cdk-drag-placeholder {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
