@import '../../../variables';
.section {
  .section-title {
    padding: $padding 0;
  }
  .section-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $padding;
    .flex-basis-100 {
      flex-basis: 100%;
    }
  }
  .section-options.align-items-start {
    align-items: start;
  }
  .section-options.gap-0 {
    gap: 0;
  }
  .section-styling-options {
    label {
      margin-left: $padding;
      cursor: pointer;
    }
    input {
      margin-bottom: $padding;
      cursor: pointer;
    }
  }
}
