.customize-section {
  padding: 12px 0;
}
.padding-0 {
  padding: 0;
}
.padding-bottom-0 {
  padding-bottom: 0;
}
.padding-top-0 {
  padding-top: 0;
}
.padding {
  padding: 12px;
}
.padding-bottom {
  padding-bottom: 12px;
}
.padding-top {
  padding-top: 12px;
}
.padding-left {
  padding-left: 12px;
}
.padding-right {
  padding-right: 12px;
}
.margin-right {
  margin-right: 12px;
}
