/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  scrollbar-width: thin;
  margin: 0;
  scrollbar-color: gray transparent;
  .cdk-drag-preview {
    --table-row-hover-background-color: red;
    --table-row-selected-background-color: blue;
  }
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
