/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import './variables';

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
    typography: (
      brand-family: 'Roboto, ' Helvetica Neue ', sans-serif',
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);
html {
  @include mat.all-component-themes($theme);
}

html,
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  scrollbar-width: thin;
  margin: 0;
  scrollbar-color: gray transparent;
}
body.dragging {
  cursor: move;
}
.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
.padding-0 {
  padding: 0 !important;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.padding-top-0 {
  padding-top: 0 !important;
}
.padding {
  padding: $padding !important;
}
.padding-bottom {
  padding-bottom: $padding !important;
}
.padding-top {
  padding-top: $padding !important;
}
.padding-left {
  padding-left: $padding !important;
}
.padding-right {
  padding-right: $padding !important;
}
.margin-right {
  margin-right: $padding !important;
}
